.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.margin-4-right {
  margin-right: 4px;
}

.border-radius-2dp {
  border-radius: 2px;
}

.border-round {
  border-radius: 4px;
}

.img-round {
  border-radius: 4px;
}

.card-wide.mdl-card {
  width: auto;
  height: auto;
  min-height: 80px;
}

.chart-container {
  min-height: 250px;
}

.total-replacements {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.class-switch {
  height: 32px;
}

.pie-chart {
  max-width: 700px;
}

@media only screen and (max-width: 600px){
  .pie-chart {
    max-height: 600px;
  }
}

.expander-icon {
  height: 24px;
  margin: 0px;
}

.expander-text {
  height: min-content;
  margin: 0px;
  padding: 0px;
  padding-top: 4px;
}

.main-layout{
  margin: 16px;
}
